torch
alive-progress
faiss-cpu
ipykernel
ipython
langchain
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
langsmith
matplotlib-inline
networkx
numpy
ollama
pandas
pydantic
google-generativeai
unstructured
