torch==2.6.0
faiss-cpu==1.10.0
google-generativeai==0.8.5
ipykernel==6.29.5
ipython==9.1.0
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.54
langchain-ollama==0.3.2
langchain-text-splitters==0.3.8
matplotlib==3.10.1
networkx==3.4.2
nltk==3.9.1
numpy==2.2.4
ollama==0.4.8
pandas==2.2.3
pillow==11.2.1
seaborn==0.13.2
together==1.5.5
tqdm==4.67.1
unstructured==0.17.2
alive-progress==3.2.0
